html{
    width: 100%;
    max-height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
}
body{
    width: 100%;
    background: url("img/sky5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#searchCity, #searchBtn{
    background-color: #dab3ff;
    color: white;
}
::placeholder{
    color: white;
}
h1{
    font-size: 22px;
    margin: 0;
}
.scrolling-wrapper{
    overflow-x: auto;
    white-space: nowrap;
}
#cityNamePlace{
    font-size: 20px;
}